@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Permanent+Marker&display=swap');

/* ---------------------------------------------------------------  General  --------------------------- */

* {
    padding: 0;
    margin: 0;
    border: 0;
}



/* ---------------------------------------------------------------  Header  --------------------------- */

#header {
    padding: 0;
    min-height: 75px;
}

/* ---------------------------------------------------------------  Navbar  --------------------------- */

.navbar {
    min-height: 75px;
    background-color: rgba(255, 255, 255, 0.5);
}

.navbar-brand {
    margin-left: 40px;
    font-family: "Permanent Marker", sans-serif;
    font-size: 30px;
    color: #f65914!important;
}

.navbar-brand img {
    height: 50px;
    width: 50px;
    margin-right: 15px;
}

.navbar-nav {
    margin-right: 50px;
}

.nav-item a {
    color: #000!important;
    font-family: "Overpass", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: right;

}

.nav-item a:hover {
    color: #f65914!important;
    border-bottom: 1px solid #000;
}

/* ---------------------------------------------------------------  Footer  --------------------------- */




/* ---------------------------------------------------------------  Main  --------------------------- */

main {
    background-image: url("../images/home-jumbotron.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: calc(100vh - 75px); /*Ensure image only shows above the fold and not under the navbar on load*/
    position: relative;
}

#banner {
    background-color: rgba(0, 0, 0, 0.5);
    min-width: 300px;
    max-width: 500px;
    min-height: 200px;
    position: absolute;
    bottom: 20%;
    padding: 50px;
}

#banner h2 {
    font-family: "Permanent Marker", sans-serif;
    font-size: 30px;
    color: #f65914;
}

#banner h4 {
    font-family: "Overpass", sans-serif;
    font-size: 20px;
    color: #fafafa;
}

/* ---------------------------------------------------------------  Features  --------------------------- */